.TicketVisualiser {
  background-size: cover!important;
  background-position: center!important;
  border-style: solid;
  position: relative;
  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;

    .ticket-code {
      margin-top: 10px;
    }
  }
  &__assetID {
    position: absolute;
  }
}
