.EventView {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    &__description {
        width: min(80%, 1800px);
        display: flex;
        flex-direction: row;

        .EventCard {
            width: 350px;
            margin-left: 0px;
        }

        .location {
            &__detail {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                svg {
                    margin-right: 10px;
                }
            }
        }
    }
    &__tickets {
        width: min(80%, 1800px);
        margin-top: 40px;
        .header {
            margin-bottom: 10px;
        }
        &__ticket {
            margin-bottom: 20px;
            display: flex;
            .rightSide {
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                .description {
                    display: flex;
                    flex-direction: row;
                    &__item {
                        display: flex;
                        flex-direction: column;
                        margin-right: 20px;
                        .MuiTypography-root {
                            margin-right: 10px;
                        }
                    }
                }
                a {
                    text-decoration: none;
                    margin-top: 10px;
                }
            }
            
        }
    }
}